.home {
    position: relative;
    top: 180px;
  
    width: 100%;
    height: fit-content;
    margin-bottom: 100px;
  
    &-filter {
      position: fixed;
      top: 80px;
      left: 0px;
      background-color: white;
      height: 100px;
      width: 100%;
      padding: 15px;
      display: flex;
      flex-direction: row;
      z-index: 5;
  
     
  