.specific-container {
    position: relative;
    top: 80px;
    padding-left: 40px;
    padding-right: 60px;
    width: 100%;
  
    .float-container {
      width: 100%;
      height: 550px;
      position: relative;
      padding: 0px;
    }
    &-name {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .name {
        font-weight: bolder;
        font-size: 1.5em;
      }
      .wishLish {
        button {
          border: none;
          background-color: transparent;
          color: #e41d56;
        }
        button:hover {
          border-bottom: 1px solid #e41d56;
        }
      }
      width: 100%;
      padding: 30px;
    }
    &-img {
      position: relative;
  
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-full {
        display: none;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: white;
        z-index: 1000;
        padding-left: 40px;
        padding-right: 40px;
        &-img {
          width: 100%;
        }
      }
      &-some {
        .show {
          z-index: 2;
          position: absolute;
          bottom: 20px;
          right: 70px;
          background-color: white;
          border-radius: 15px;
          overflow: hidden;
          button {
            background-color: white;
            border-radius: 10px;
            color: black;
            font-weight: bolder;
          }
        }
        width: 90%;
        z-index: 1;
        height: 300px;
        overflow: hidden;
        display: grid;
        border-radius: 20px;
        background-color: white;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3px;
        margin-bottom: 40px;
        grid-template-areas:
          "img1 img1 img2 img3"
          "img1 img1 img4 img5";
  
        .img1 {
          width: 98%;
          height: 98%;
  
          img {
            width: 100%;
            height: 100%;
          }
  
          grid-area: img1;
        }
  
        .img2 {
          width: 98%;
          height: 98%;
  
          img {
            width: 100%;
            height: 100%;
          }
  
          grid-area: img2;
        }
  
        .img3 {
          width: 98%;
          height: 98%;
  
          img {
            width: 100%;
            height: 100%;
          }
  
          grid-area: img3;
        }
  
        .img4 {
          width: 98%;
          height: 98%;
  
          img {
            width: 100%;
            height: 100%;
          }
  
          grid-area: img4;
        }
  
        .img5 {
          width: 98%;
          height: 98%;
  
          img {
            width: 100%;
            height: 100%;
          }
  
          grid-area: img5;
        }
      }
    }
    &-payment {
      background-color: white;
      width: 30%;
      float: right;
      height: 450px;
      padding: 20px;
  
      border: 0.5px solid black;
  
      border-radius: 10px;
      &-fee {
        .realcost {
          width: 100%;
          display: flex;
          flex-direction: row;
          label {
            color: black;
            font-size: larger;
            font-weight: bold;
            width: fit-content;
            height: 1.25em;
          }
          input {
            border: none;
            width: 30%;
            background-color: transparent;
            color: black;
            font-size: larger;
            font-weight: bold;
  
            height: 1, 25em;
          }
        }
        .fiatcost {
          width: 100%;
          display: flex;
          flex-direction: row;
          input {
            width: 45%;
            border: none;
            background-color: transparent;
            height: 1.25em;
          }
          p {
            width: fit-content;
          }
        }
      }
      &-inputsubmit {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        input {
          padding: 5px;
          background-color: #e41d56;
          color: white;
          border: none;
          border-radius: 7px;
          font-size: larger;
          height: 2.25em;
          width: 100%;
        }
        input:hover {
          opacity: 0.9;
        }
      }
      &-inputday {
        width: 100%;
        height: 3em;
        border: 4px;
        margin-bottom: 20px;
        &-start {
          width: 48%;
          display: flex;
          flex-direction: column;
          float: left;
          label {
            font-weight: bold;
          }
          input {
            border: none;
          }
        }
        &-end {
          width: 48%;
          display: flex;
          flex-direction: column;
          float: right;
          label {
            font-weight: bold;
          }
          input {
            border: none;
          }
        }
      }
      &-price {
        p {
          font-weight: bold;
          font-size: 1.5em;
        }
      }
    }
    &-detail {
      float: left;
      width: 50%;
  
      padding-left: 30px;
      &-house {
        margin-left: 30px;
  
        font-size: 2em;
      }
      &-host {
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        h2 {
          width: 30%;
        }
        p {
          font-size: larger;
          font-weight: bolder;
          width: 45%;
        }
      }
    }
    &-host {
      width: 100%;
      padding: 30px;
    }
  }