<html lang='en'>

<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<link href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css' rel='stylesheet'>
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
    <script>
        document.addEventListener('DOMContentLoaded', function () {


            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                  themeSystem: 'bootstrap',
                initialView: 'dayGridMonth',
                 selectable: true,
                validRange: {
                    start: '2023-09-10',
                    end: '2023-10-31'
                },
                  events: [
    {
      title: 'BCH237',
      start: '2023-10-12T10:30:00',
      end: '2023-10-13T11:30:00',
      extendedProps: {
        department: 'BioChemistry'
      },
      description: 'Lecture'
    }
    // more events ...
  ],
                
                dayRender: function (info) {
                    var date = info.date;
                    var day = date.getDay();
                    console.log(day);
                    // Disable weekends (Saturday and Sunday)
                    if (day === 0 || day === 6) {
                        info.el.classList.add('fc-disabled');
                    } else {
                        info.el.classList.add('fc-day-clickable');
                    }
                },
         
                 dateClick: function(info) {
   info.dayEl.classList.add('bg-warning');
    // change the day's background color just for fun
   
  }

            });
            calendar.on('dateClick', function (date) {


            });
            calendar.render();
        });
    </script>
</head>

<body>
    <div class="w-50 " id='calendar'></div>
</body>

</html>